.widget {
    width                   : 100%;
    // height               : auto;
    // background-color     : #474747;
    display                 : flex;
    flex-flow               : column wrap;
    justify-items           : center;
    align-items             : center;
    transition              : all 0.5s ease;

    &-body {
        width: 100%;
    }

    &-head {
        width          : 100%;
        display        : flex;
        flex-flow      : column wrap;
        justify-content: center;
        align-items    : center;
        padding-top    : 1.7rem;
        padding-bottom : 0.1rem;

        &__title {
            font-size  : 1.5rem;
            color      : black;
            font-family: 'Open Sans', 'Helvetica Neue', Helvetica;
        }

        &__subtitle {
            font-size  : 1.4rem;
            color      : rgb(160, 159, 159);
            font-family: 'Open Sans', 'Helvetica Neue', Helvetica;
        }

        hr {
            border: 1px solid #e6e6e6;
            width : 20%;
            height: 0px;
            margin: 10px;
        }
    }
}