.widget {
    width                : 100%;
    height               : auto;
    background-color     : #474747;
    display              : grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows   : auto;
    justify-items        : center;
    padding              : 50px;
    transition           : all 0.5s ease;

    &__head {
        width          : 100%;
        display        : flex;
        flex-flow      : row wrap;
        justify-content: center;
        align-items    : center;
        padding-bottom : 30px;

        strong {
            font-size  : 30px;
            font-weight: bold;
            color      : white;
        }

        hr {
            border: 1px solid white;
            width : 20%;
            height: 0px;
            margin: 10px;
        }
    }

    &__elements {
        width                : 90%;
        display              : grid;
        grid-auto-rows       : auto;
        gap                  : 10px;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
        justify-items        : center;

        &--item {
            height            : 15rem;
            width             : 15rem;
            border-radius     : 10px;
            display           : flex;
            flex-flow         : column wrap;
            justify-content   : center;
            align-items       : center;
            color             : white;
            font-size         : 20px;
            text-align        : center;

            img {
                height: 5.2rem;
            }

            span {
                padding-top: 15px;
            }

        }
    }
}