@import '../../../styles/base/settings';

.sidebar-content {
    display              : flex;
    gap                  : 0.3rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content      : space-between;
    padding-left         : 10px;
    background-color     : $fixcolor;
    width                : 100vw;

    &__head {
        h3 {
            margin-right: 10px;
            color       : white;
        }

        p {
            font-size: 12px;
            color    : rgb(180, 179, 179);
        }
    }

    &__actions {
        width: 100%;

        span {
            color: white;
            width: 20%
        }

        input {
            width        : 40%;
            height       : 2rem;
            border-style : none;
            border-bottom: 1px solid #ffff;
            border-radius: 3px;
        }

        input::placeholder {
            padding  : 5px;
            color    : #ccc;
            font-size: 12px;
        }
    }

    &__button {
        width: 40%;

        button {
            height          : 2rem;
            width           : 72%;
            background-color: red;
            border-style    : none;
            border-radius   : 2px;
            color           : white;
        }
    }

}

@media(min-width:600px) {
    .sidebar-content {
        display              : flex;
        grid-gap             : 0.3rem;
        gap                  : 2.3rem;
        grid-template-columns: repeat(3, 1fr);
        justify-content      : space-between;
        padding              : 9rem;
        width                : 100vw;

        &__actions {
            width          : 100%;
            display        : flex;
            flex-flow      : row wrap;
            justify-content: space-around;
            align-items    : center;

            span {
                color: white;
                width: 20%
            }

            input::placeholder {
                padding  : 5px;
                color    : #ccc;
                font-size: 12px;
            }
        }

        &__button {
            width: 10rem;

            button {
                width           : 100%;
                background-color: red;
                border-style    : none;
                border-radius   : 9px;
                color           : white;
            }
        }
    }

}

@media(min-width:900px) {
    .sidebar-content {
        display              : flex;
        grid-gap             : 0.3rem;
        gap                  : 2.3rem;
        grid-template-columns: repeat(3, 1fr);
        justify-content      : space-between;
        padding              : 9rem;

        &__head {
            width: 50rem;
        }

        &__actions {
            display        : flex;
            flex-flow      : row wrap;
            justify-content: space-around;
            align-items    : center;

            input::placeholder {
                padding  : 5px;
                color    : #ccc;
                font-size: 12px;
            }
        }

        &__button {
            width: 10rem;

            button {
                width           : 100%;
                background-color: red;
                border-style    : none;
                border-radius   : 9px;
                color           : white;
            }
        }
    }


}