@import '../../../styles/base/settings';

.sidebar-content {
    display        : flex;
    flex-flow      : row wrap;
    justify-content: space-between;
    align-items    : center;
    width          : 100vw;

    &__head {
        display        : flex;
        flex-flow      : column wrap;
        justify-content: center;
        align-items    : center;
        /* padding     : 3.5rem; */
        color          : white;

        h3 {
            margin-right: 10px;
            color       : white;
        }

        p {
            margin-top: 0.4rem;
            font-size : 1rem;
            color     : rgb(180, 179, 179);
        }
    }

    &__actions {
        display        : flex;
        flex-flow      : column wrap;
        justify-content: center;
        align-items    : center;
        width          : 100%;
        padding-top    : 0.5rem;

        span {
            color         : white;
            padding-top   : 1.6rem;
            padding-bottom: 0.6rem;
            text-transform: uppercase;
        }

        input {
            width        : 100vw;
            height       : 3rem;
            border-style : none;
            border-bottom: 1px solid #ffff;
            border-radius: 3px;
            padding: 1rem;
        }

        input::placeholder {
            // padding  : 1rem;
            color    : #ccc;
            font-size: 1rem;
        }
    }

    &__button {
        // width: 40%;
        padding-top: 0.2rem;

        button {
            height          : 3rem;
            width           : 100vw;
            background-color: red;
            border-style    : none;
            border-radius   : 2px;
            color           : white;
        }
    }

}

@media(min-width:600px) {
    .sidebar-content {
        display           : flex;
        flex-flow         : column wrap;
        /* justify-content: space-between; */
        align-items       : center;
        width             : 100vw;

        .sidebar-content__head {
            display        : flex;
            flex-flow      : column wrap;
            justify-content: center;
            align-items    : center;
            /* padding     : 3.5rem; */
            color          : white;
        }

        .sidebar-content__actions {
            display        : flex;
            flex-flow      : column wrap;
            justify-content: center;
            align-items    : center;
            width          : 100%;

            /* padding-top: 3rem; */
            .sidebar-content__button {
                /* padding-top: 0.2rem; */
                display        : flex;
                justify-content: center;
                align-items    : center;


            }
        }

        .sidebar-content__actions input {
            width        : 23rem;
            height       : 3rem;
            border-style : none;
            border-bottom: 1px solid #ffff;
            border-radius: 3px;
            padding: 1rem;
        }

        .sidebar-content__button button {
            height                    : 3.1rem;
            width                     : 10rem;
            background-color          : red;
            border-style              : none;
            border-radius             : 0px;
            border-top-right-radius   : 10px;
            border-bottom-right-radius: 10px;
            color                     : white;
        }
    }

}

@media(min-width:900px) {
    .sidebar-content {
        display           : flex;
        flex-flow         : column wrap;
        /* justify-content: space-between; */
        align-items       : center;
        width             : 100vw;

        .sidebar-content__head {
            display        : flex;
            flex-flow      : column wrap;
            justify-content: center;
            align-items    : center;
            /* padding     : 3.5rem; */
            color          : white;
        }

        .sidebar-content__actions {
            display        : flex;
            flex-flow      : column wrap;
            justify-content: center;
            align-items    : center;
            width          : 100%;

            /* padding-top: 3rem; */
            .sidebar-content__button {
                /* padding-top: 0.2rem; */
                display        : flex;
                justify-content: center;
                align-items    : center;


            }
        }

        .sidebar-content__actions input {
            width        : 23rem;
            height       : 3rem;
            border-style : none;
            border-bottom: 1px solid #ffff;
            border-radius: 3px;
            padding      : 1rem;
            &:focus {
                height: 2.9rem;
            }
        }

        .sidebar-content__button button {
            height                    : 3.0359rem;
            width                     : 10rem;
            background-color          : red;
            border-style              : none;
            border-radius             : 0px;
            border-top-right-radius   : 10px;
            border-bottom-right-radius: 10px;
            color                     : white;
            margin-left               : -2px;
            margin-top                : 1px;
        }
    }

}