.carrito{
    width: 100vw;
    background-color: #f9fbfc;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    &-content{
        background-color:#f9fbfc;
        width: 80%;
        padding: 1rem;
    }
}
.carritoCompras {
    //  width  : 70vw;
    padding: 1rem;
    background-color:white;

    .carro_item {
        display           : flex;
        // flex-flow      : row wrap;
        justify-content   : space-between;
        background        : white;
        border-bottom            : 1px dashed rgb(228, 227, 227);
        padding           : 20px;
        margin-bottom     : 20px;
        border-radius     : 6px;
        align-items       : center;

        &--imagenCover {
            border-radius: 10px;
            padding      : 8px;
            background   : white;
            border       : 1px solid rgb(238, 237, 237);
            margin-bottom: 5px;
            margin-right : 10px;

            img {
                width: 4.3rem;

            }
        }

        span {
            width: 10rem;
        }

        .item-opcion {
            cursor: pointer;
        }

    }
}