//colores

$primary           : #005e85;
$secondary         : #92c0e9;
$grey              : grey;
$fixcolor          : rebeccapurple;
$background-default: #f9fbfc;
$white : white;

//fuentes

$font-family-1: Roboto,
Arial,
sans-serif;
$font-family-2: 'Lato',
sans-serif;